.portal-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    padding-top: 5vh;
    min-height: 95vh;
    background-color: #333333;

}


.sales-toolbar {
    width: 100%;
    max-width: 560px;
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
}

.user-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #007bff; // adjust the color as needed
    color: #fff; // adjust the color as needed
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-left: 20px;
    cursor: pointer;
}

.right-aligned-items {
    display: flex;
    align-items: center;
}


.company-chip {
    background-color: rgba(51, 51, 51, 0.80);
    color: #fff;
    font-weight: bold;
    border-radius: 24px;
    padding: 0 2rem;
}