<div class="portal-container">
    <div class="user-info">
        <div class="user-field">
            <p><strong>USERNAME:</strong></p>
            <p>Bradley</p>
        </div>
        <div class="user-field">
            <p><strong>ROLE:</strong></p>
            <p>Sales Representative</p>
        </div>
        <button class="signout-button" mat-raised-button type="button" (click)="authService.SignOut()">Sign Out</button>
    </div>

    <div class="tabs-wrapper">
        <mat-tab-group mat-stretch-tabs mat-align-tabs="center">
            <mat-tab label="QUOTES">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>OPEN QUOTES</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <app-table></app-table>
                    </mat-card-content>
                </mat-card>

                <mat-card>
                    <mat-card-header>
                        <mat-card-title>QUOTE HISTORY</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <app-table></app-table>
                    </mat-card-content>
                </mat-card>
                <div class="button-container">
                    <button mat-raised-button type="button">
                        <mat-icon>add</mat-icon>NEW QUOTE
                    </button>
                </div>

            </mat-tab>

            <mat-tab label="CLIENTS">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Orders</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <app-table></app-table>
                    </mat-card-content>
                </mat-card>

                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Clients</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                    </mat-card-content>
                </mat-card>

            </mat-tab>

            <mat-tab label="JOB CARDS">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>JOB HISTORY</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <app-table></app-table>
                    </mat-card-content>
                </mat-card>
                <div class="button-container">
                    <button mat-raised-button type="button">
                        <mat-icon>add</mat-icon>NEW JOB
                    </button>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>