<div class="portal-container">
    <div class="tabs-wrapper">
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
            <mat-tab label="QUOTES">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>OPEN QUOTES</mat-card-title>
                        <mat-card-subtitle>Card Subtitle</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mattis pretium massa. Aliquam
                            erat volutpat. Nulla facilisi. Nullam nec nisl.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>LIKE</button>
                        <button mat-button>SHARE</button>
                    </mat-card-actions>
                </mat-card>

                <mat-card>
                    <mat-card-header>
                        <mat-card-title>QUOTE HISTORY</mat-card-title>
                        <mat-card-subtitle>Card Subtitle</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mattis pretium massa. Aliquam
                            erat volutpat. Nulla facilisi. Nullam nec nisl.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>LIKE</button>
                        <button mat-button>SHARE</button>
                    </mat-card-actions>
                </mat-card>
                <button mat-raised-button type="button">
                    <mat-icon>add</mat-icon>NEW QUOTE</button>
            </mat-tab>

            <mat-tab label="CLIENTS">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Second Tab</mat-card-title>
                        <mat-card-subtitle>Card Subtitle</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mattis pretium massa. Aliquam
                            erat volutpat. Nulla facilisi. Nullam nec nisl.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>LIKE</button>
                        <button mat-button>SHARE</button>
                    </mat-card-actions>
                </mat-card>

            </mat-tab>

            <mat-tab label="JOB CARDS">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Third Tab</mat-card-title>
                        <mat-card-subtitle>Card Subtitle</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mattis pretium massa. Aliquam
                            erat volutpat. Nulla facilisi. Nullam nec nisl.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>LIKE</button>
                        <button mat-button>SHARE</button>
                    </mat-card-actions>
                </mat-card>

            </mat-tab>
        </mat-tab-group>
    </div>
</div>