.portal-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    padding-top: 5vh;
    min-height: 95vh;
    background-color: #333333;

    @media (max-width: 560px) {
        padding-top: 0;
        min-height: 100vh;
    }
}


.sales-toolbar {
    width: 100%;
    max-width: 560px;
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 560px) {
        border-radius: 0px;
    }
}

.user-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #007bff; // adjust the color as needed
    color: #fff; // adjust the color as needed
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-left: 20px;
    cursor: pointer;
}

.right-aligned-items {
    display: flex;
    align-items: center;
}


.company-chip {
    background-color: rgba(51, 51, 51, 0.80);
    color: #fff;
    font-weight: bold;
    border-radius: 24px;
    padding: 0 2rem;
    cursor: default;
}

.mat-mdc-tab-group,
.mat-mdc-tab-nav-bar {
    --mdc-tab-indicator-active-indicator-color: #ffffff;
    --mat-tab-header-disabled-ripple-color: rgba(255, 255, 255, 0.54);
    --mat-tab-header-pagination-icon-color: #000;
    --mat-tab-header-inactive-label-text-color: rgba(255, 255, 255, 0.54);
    --mat-tab-header-active-label-text-color: #ffffff;
    --mat-tab-header-active-ripple-color: #ffffff;
    --mat-tab-header-inactive-ripple-color: #ffffff;
    --mat-tab-header-inactive-focus-label-text-color: rgba(255, 255, 255, 0.54);
    --mat-tab-header-inactive-hover-label-text-color: rgba(255, 255, 255, 0.54);
    --mat-tab-header-active-focus-label-text-color: #ffffff;
    --mat-tab-header-active-hover-label-text-color: #ffffff;
    --mat-tab-header-active-focus-indicator-color: #ffffff;
    --mat-tab-header-active-hover-indicator-color: #ffffff;
}

.tabs-wrapper {
    width: 100%;
    max-width: 560px;
    padding: 20px 0px;
}



.table-card {
    margin: 20px 0px;
    border-radius: 8px;
    padding-bottom: 10px;


    @media (max-width: 560px) {
        margin: 20px 10px;
    }
}

mat-card-actions {
    display: flex;
    justify-content: flex-end;
}