<div class="portal-container">
    <mat-toolbar class="sales-toolbar">
        <button mat-button class="company-chip" matRippleDisabled>{{companyName}}</button>

        <div class="right-aligned-items">
            <button mat-icon-button color="primary" [matMenuTriggerFor]="newMenu">
                <mat-icon>add</mat-icon>
            </button>

            <button mat-icon-button color="primary" [matMenuTriggerFor]="notificaitons">
                <mat-icon matBadge="{{notifications.length}}" matBadgeHidden="{{notifications.length == 0}}"
                    matBadgeColor="warn">notifications_none</mat-icon>
            </button>

            <div class="user-circle" [matMenuTriggerFor]="userMenu">{{userInitials}}</div>
        </div>
    </mat-toolbar>

    <div class="tabs-wrapper">
        <mat-tab-group mat-stretch-tabs mat-align-tabs="center">
            <mat-tab label="QUOTES">
                <div class="table-content">
                    <app-pending-table></app-pending-table>
                    <app-history-table></app-history-table>
                </div>
            </mat-tab>
            <mat-tab label="CLIENTS"> Content 2 </mat-tab>
            <mat-tab label="JOBS"> Content 3 </mat-tab>
        </mat-tab-group>
    </div>

</div>


<mat-menu #newMenu="matMenu">
    <button mat-menu-item>Quote</button>
    <button mat-menu-item>Client</button>
    <button mat-menu-item>Job Card</button>
</mat-menu>

<mat-menu #notificaitons="matMenu">
    <ng-container *ngIf="notifications.length; else noNotifications">
        <button mat-menu-item *ngFor="let notification of notifications">
            {{notification}}
        </button>
    </ng-container>
    <ng-template #noNotifications>
        <button mat-menu-item disabled>No notifications</button>
    </ng-template>
</mat-menu>

<mat-menu #userMenu="matMenu">
    <button mat-menu-item>User Settings
        <mat-icon>settings</mat-icon>
    </button>
    <button mat-menu-item (click)="authService.SignOut()">Sign Out
        <mat-icon>exit_to_app</mat-icon>
    </button>
</mat-menu>