.portal-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    padding-top: 5vh;
    min-height: 95vh;
    background-color: #333333;

}

.user-info {
    border: 1px solid white;
    border-radius: 16px;
    background-color: transparent;
    color: white;
    padding: 20px;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 5vh;
    /* Change this to 'column' if you want the items to be stacked vertically */
}

.user-field {
    text-align: left;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    margin-top: 20px;

    .mat-mdc-raised-button.mat-unthemed {
        --mdc-protected-button-container-color: #FF4C46;
        --mdc-protected-button-label-text-color: #fff;
        border-radius: 16px;
    }

}

.tabs-wrapper {
    width: 50%;
}

mat-card {
    margin-top: 20px;
}

.signout-button {
    background-color: #CECDD3;
    color: #333333;
    border-radius: 16px;
}



.mat-mdc-tab-group,
.mat-mdc-tab-nav-bar {
    --mdc-tab-indicator-active-indicator-color: #ffffff;
    --mat-tab-header-disabled-ripple-color: rgba(255, 255, 255, 0.54);
    --mat-tab-header-pagination-icon-color: #000;
    --mat-tab-header-inactive-label-text-color: rgba(255, 255, 255, 0.54);
    --mat-tab-header-active-label-text-color: #ffffff;
    --mat-tab-header-active-ripple-color: #ffffff;
    --mat-tab-header-inactive-ripple-color: #ffffff;
    --mat-tab-header-inactive-focus-label-text-color: rgba(255, 255, 255, 0.54);
    --mat-tab-header-inactive-hover-label-text-color: rgba(255, 255, 255, 0.54);
    --mat-tab-header-active-focus-label-text-color: #ffffff;
    --mat-tab-header-active-hover-label-text-color: #ffffff;
    --mat-tab-header-active-focus-indicator-color: #ffffff;
    --mat-tab-header-active-hover-indicator-color: #ffffff;
}