<div class="safe-area">
    <app-tagline></app-tagline>
    <div class="actions">
        <button mat-stroked-button color="primary" routerLink="/">Design</button>
        <button mat-stroked-button color="primary" routerLink="/">Printing</button>
        <button mat-stroked-button color="primary" routerLink="/">Packaging</button>
        <button mat-stroked-button color="primary" routerLink="/">Pricing</button>
    </div>

    <app-carousel></app-carousel>

    <div class="details-container">
        <div class="container-one">
            <div class="left-container">
                <h2>How it all works?</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae ipsum nec justo interdum
                    pretium. Phasellus vehicula nisl sed sem pulvinar, nec aliquam neque sollicitudin. Mauris suscipit
                    magna id quam consequat, nec lobortis justo aliquam. Quisque sed mauris nec mi fringilla
                    ullamcorper. Integer id sapien nec nisl lobortis venenatis. Nullam et orci eget ligula tempor
                    vehicula. Fusce eget enim vitae mauris dapibus volutpat. Vivamus eget nulla vitae nisl tincidunt
                    hendrerit.
                </p>
            </div>
            <div class="right-container">
                <img src="../../../../assets/design-thinking.svg">
            </div>

        </div>
        <div class="container-two">
            <div class="left-container">
                <img src="../../../../assets/business-deal.svg">
            </div>
            <div class="right-container">
                <h2>Our commitment to excellence</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae ipsum nec justo interdum
                    pretium. Phasellus vehicula nisl sed sem pulvinar, nec aliquam neque sollicitudin. Mauris suscipit
                    magna id quam consequat, nec lobortis justo aliquam. Quisque sed mauris nec mi fringilla
                    ullamcorper. Integer id sapien nec nisl lobortis venenatis. Nullam et orci eget ligula tempor
                    vehicula. Fusce eget enim vitae mauris dapibus volutpat. Vivamus eget nulla vitae nisl tincidunt
                    hendrerit.
                </p>
            </div>
        </div>
        <div class="container-three">
            <div class="left-container">
                <h2>Helping your ideas come to life</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae ipsum nec justo interdum
                    pretium. Phasellus vehicula nisl sed sem pulvinar, nec aliquam neque sollicitudin. Mauris suscipit
                    magna id quam consequat, nec lobortis justo aliquam. Quisque sed mauris nec mi fringilla
                    ullamcorper. Integer id sapien nec nisl lobortis venenatis. Nullam et orci eget ligula tempor
                    vehicula. Fusce eget enim vitae mauris dapibus volutpat. Vivamus eget nulla vitae nisl tincidunt
                    hendrerit.
                </p>
            </div>
            <div class="right-container">
                <img src="../../../../assets/charts-pie-and-bars.svg">
            </div>
        </div>
    </div>
</div>