<div class="safe-area">
    <app-tagline></app-tagline>
    <div class="actions">
        <button mat-stroked-button color="primary" routerLink="/design">Design</button>
        <button mat-stroked-button color="primary" routerLink="/services">Printing</button>
        <button mat-stroked-button color="primary" routerLink="/packaging">Packaging</button>
        <button mat-stroked-button color="primary" routerLink="/pricing">Pricing</button>
    </div>

    <app-carousel></app-carousel>

    <div class="details-container">
        <div class="container-one">
            <div class="left-container">
                <h2>What do we offer?</h2>
            <br>
                <p>At Sixty4 Print, we're dedicated to crafting comprehensive branding solutions for our 
                    clients. With our capability to print a wide variety of applications, we empower businesses to establish 
                    their brand identity seamlessly. Committed to efficiency and service excellence, we 
                    are your <b> One-Stop-Shop </b>for all things branding, printing and packaging.
                </p>
            </div>
            <div class="right-container">
                <img src="../../../../assets/design-thinking.svg">
            </div>

        </div>
        <div class="container-two">
            <div class="left-container">
                <img src="../../../../assets/business-deal.svg">
            </div>
            <div class="right-container">
                <h2>Our commitment to quality</h2>
            <br>
                <p>We ensure precision in every print, with impeccable accuracy to meet the highest 
                    standards of our clients' expectations. We guarantee impeccable quality control at every step, ensuring flawless prints and 
                    packaging solutions that exceed expectations.
                </p>
            </div>
        </div>
        <div class="container-three">
            <div class="left-container">
                <h2>Helping your ideas come to life</h2>
            <br>
                <p>Utilizing our extensive industry expertise, we established Sixty4 Print, leveraging years of experience 
                    to offer a high standard of quality and service. Our journey began with a vision to redefine standards 
                    in the industry, driven by a passion for innovation and client satisfaction. Today, we stand as a 
                    testament to our commitment to excellence, delivering premium printing and packaging solutions tailored 
                    to meet all client needs.


                </p>
            </div>
            <div class="right-container">
                <img src="../../../../assets/charts-pie-and-bars.svg">
            </div>
        </div>
    </div>
</div>