.actions {
    display: flex;
    padding-left: 1rem;
    padding-bottom: 10px;
    flex-wrap: wrap;
    gap: 10px;
}

.actions button {
    border-radius: 50px;
    border-color: #333333;
    margin-right: 15px;
}


/* Vertically arrange containers 1, 2, 3 */
.details-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

/* Horizontally arrange the left and right containers */
.container-one,
.container-two,
.container-three {
    display: flex;
    flex-direction: row;
}

.container-three {
    margin-bottom: 100px;
}

/* If you want the left and right containers to take up equal space */

.right-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: right;
    flex: 1;
    font-family: "Lora", serif;
    margin-left: 20px;
    font-size: 20px;

}

.right-container h2 {
    font-family: "Lora", serif;
    font-weight: 500;
    font-size: 40px;
}

.left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    flex: 1;
    font-family: "Lora", serif;
    margin-right: 20px;
    font-size: 20px;
}

.left-container h2 {
    font-family: "Lora", serif;
    font-weight: 500;
    font-size: 40px;
    text-align: left;
}


.left-container img,
.right-container img {
    width: 60%;
    /* Adjust this value as needed */
    height: auto;
}