<div class="safe-area">
    <app-tagline></app-tagline>
    <div class="actions">
        <button mat-stroked-button color="primary" routerLink="/">Design</button>
        <button mat-stroked-button color="primary" routerLink="/">Printing</button>
        <button mat-stroked-button color="primary" routerLink="/">Packaging</button>
        <button mat-stroked-button color="primary" routerLink="/">Pricing</button>
    </div>

    <app-carousel></app-carousel>

    <div class="details-container">
        <div class="container-one">
            <div class="left-container">
                <h2>How it all works?</h2>
                <p>Our team of designers will work with you to create a label that is both visually appealing and
                    informative. We will help you create a label that will stand out on the shelf and attract customers.
                </p>
            </div>
            <div class="right-container">

            </div>

        </div>
        <div class="container-two">
            <div class="left-container">

            </div>
            <div class="right-container">
                <h2>second section</h2>
                <p>Our team of designers will work with you to create a label that is both visually appealing and
                    informative. We will help you create a label that will stand out on the shelf and attract customers.
                </p>
            </div>
        </div>
        <div class="container-three">
            <div class="left-container">
                <h2>Third section</h2>
                <p>Our team of designers will work with you to create a label that is both visually appealing and
                    informative. We will help you create a label that will stand out on the shelf and attract customers.
                </p>
            </div>

        </div>
    </div>
</div>