.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

swiper-slide img {
    height: 60vh;
    max-height: 500px;
    border-radius: 32px;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);


    /* This will apply when the viewport is between 770px and 1200px */
    @media (min-width: 800px) and (max-width: 1000px) {
        height: 40vh;
        border-radius: 24px;
    }

    /* This will apply when the viewport is 770px or less */
    @media (max-width: 799px) {
        height: 15vh;
        border-radius: 16px;
    }
}

swiper-slide {
    display: flex;
    max-height: 500px;
    justify-content: center;
    align-items: center;
    width: auto !important;
}

swiper-container {
    display: inline-block;
    width: auto;
}