<div class="carousel-container">
    <mat-card>
        <img mat-card-image src="../../../../../assets/red-carousel.png" alt="red image">
    </mat-card>

    <mat-card>
        <img mat-card-image src="../../../../../assets/yellow-carousel.png" alt="red image">
    </mat-card>

    <mat-card>
        <img mat-card-image src="../../../../../assets/green-carousel.png" alt="red image">
    </mat-card>

    <mat-card>
        <img mat-card-image src="../../../../../assets/blue-carousel.png" alt="red image">
    </mat-card>

    <mat-card>
        <img mat-card-image src="../../../../../assets/purple-carousel.png" alt="red image">
    </mat-card>
</div>