<div class="carousel-container">
    <swiper-container loop="true">
        <swiper-slide>
            <img src="../../../../../assets/red-carousel.png" alt="red image">
        </swiper-slide>

        <swiper-slide>
            <img src="../../../../../assets/yellow-carousel.png" alt="red image">
        </swiper-slide>

        <swiper-slide>
            <img src="../../../../../assets/green-carousel.png" alt="red image">
        </swiper-slide>

        <swiper-slide>
            <img src="../../../../../assets/blue-carousel.png" alt="red image">
        </swiper-slide>

        <swiper-slide>
            <img src="../../../../../assets/purple-carousel.png" alt="red image">
        </swiper-slide>
    </swiper-container>
</div>