<div class="carousel-container">
    <swiper-container loop="true" space-between="30" centered-slides="true" slides-per-view="auto" effect="coverflow"
        grab-cursor="true" coverflow-effect-rotate="10" coverflow-effect-modifier="5" coverflow-effect-depth="100"
        autoplay-delay="2500" autoplay-disable-on-interaction="true">
        <swiper-slide>
            <img src="../../../../../assets/red-carousel.png" alt="red image">
        </swiper-slide>

        <swiper-slide>
            <img src="../../../../../assets/yellow-carousel.png" alt="red image">
        </swiper-slide>

        <swiper-slide>
            <img src="../../../../../assets/green-carousel.png" alt="red image">
        </swiper-slide>

        <swiper-slide>
            <img src="../../../../../assets/blue-carousel.png" alt="red image">
        </swiper-slide>

        <swiper-slide>
            <img src="../../../../../assets/purple-carousel.png" alt="red image">
        </swiper-slide>
    </swiper-container>
</div>