.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    margin-top: 20px;
    width: 100%;
    overflow: hidden;

    @media (max-width: 1200px) {
        height: 50vh;
    }

    @media (max-width: 992px) {
        height: 40vh;
    }

    @media (max-width: 768px) {
        height: 30vh;
    }

    @media (max-width: 576px) {
        height: 25vh;
    }
}


swiper-slide img {
    height: 60vh;
    width: 100%;
    object-fit: contain;
    border-radius: 32px;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);

    @media (max-width: 768px) {
        border-radius: 16px;
        box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
    }
}

swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto !important;
}

swiper-container {
    display: inline-block;
    width: auto;
}