.app-header {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
    max-width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.mat-toolbar {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    height: 64px;
    width: 100%;
    max-width: 100%;
}

/* Container for Max Width */
.max-width-container {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 1280px;
    justify-content: space-between;
    margin: auto;
}

.logo-container {
    display: flex;
    align-items: center; // Align the logo vertically in the middle
    padding: 1rem;

    .logo {
        height: 100%; // The logo will take the full height of its parent (logo-container)
        width: auto; // This will keep the aspect ratio of the logo
        max-height: 100%; // This will ensure the logo never has a greater height than the toolbar
    }
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: inherit;
    gap: 30px;
}