.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: row;

    @media (max-width: 600px) {
        flex-direction: column;
    }
}

.left-container,
.right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    padding: 2rem;

    @media (max-width: 600px) {
        width: 100%;
    }
}



.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 30px, 0px, 30px, 0px;
}

mat-card {
    width: 100%;
    padding: 10px 10px 20px 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

mat-card-actions {
    display: flex;
    justify-content: flex-end;
}

mat-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.mat-mdc-card {
    position: relative;
    justify-content: center;
    align-items: center;
}

.card-welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    font-size: 24px;
    /* Adjust this value as needed */
    font-family: 'Lexend', sans-serif;
}

.contact-field {
    width: 100%;
    margin-left: 2rem;
    margin-right: 2rem;
}

.button-row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    >button {
        width: 100%;
    }
}

.filler {
    height: auto; // The logo will take the full height of its parent (logo-container)
    width: 75%; // This will keep the aspect ratio of the logo
    max-width: 75%;
}