.footer-container {
    background-color: #333333;
    padding: 20px 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-content {
    padding-left: 5rem;
    padding-right: 5rem;
    color: #fff;
    font-size: 14px;
    display: flex;
    justify-content: space-between;

    >div {
        flex: 1;
        border-right: 0.5px solid #8B8B8B;

        &:last-child {
            border-right: none;
        }
    }
}


.logo-container {
    display: flex;
    align-items: flex-start;
    padding: 1rem;
}

.header-items-container {
    padding-left: 5rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}

.socials-container {
    padding-left: 5rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}

.actions-container {
    padding-left: 5rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}