<div class="footer-container">
    <div class="max-width-container">


        <div class="footer-content">
            <div class="logo-container">
                <img class="logo" src="/assets/logo-white.svg" alt="Logo">
            </div>
            <div class="header-items-container">
                <div class="header-item">
                    <p>Services</p>
                </div>
                <div class="header-item">
                    <p>Pricing</p>
                </div>
                <div class="header-item">
                    <p>About</p>
                </div>
                <div class="header-item">
                    <p>Contact</p>
                </div>
            </div>
            <div class="socaials-container">
                <div class="social-item">
                    <p>LinkedIn</p>
                </div>
                <div class="social-item">
                    <p>Facebook</p>
                </div>
                <div class="social-item">
                    <p>Instagram</p>
                </div>
            </div>
            <div class="actions-container">
                <div class="action-item">
                    <p>lets start your project</p>
                </div>
                <div class="action-item">
                    <p>Sales Portal</p>
                </div>
            </div>
        </div>
    </div>
</div>