<div class="footer-container" *ngIf="!hideFooter">
    <div class="max-width-container">


        <div class="footer-content">
            <div class="logo-container">
                <img class="logo" src="/assets/logo-white.svg" alt="Logo">
            </div>
            <div class="header-items-container">
                <div class="header-item">
                    <button mat-button color="accent" routerLink="/home"><mat-icon color="accent"
                            matSuffix>home</mat-icon>Home</button>
                </div>
                <div class="header-item">
                    <button mat-button color="accent" routerLink=""><mat-icon color="accent"
                            matSuffix>work</mat-icon>Services</button>
                </div>
                <div class="header-item">
                    <button mat-button color="accent" routerLink="/about"><mat-icon color="accent"
                            matSuffix>info</mat-icon>About</button>
                </div>
                <div class="header-item">
                    <button mat-button color="accent" routerLink="/contact"><mat-icon color="accent"
                            matSuffix>phone</mat-icon>Contact</button>
                </div>
            </div>
            <div class="socaials-container">
                <div class="social-item">
                    <button mat-button color="accent">LinkedIn</button>
                </div>
                <div class="social-item">
                    <button mat-button color="accent">Facebook</button>
                </div>
                <div class="social-item">
                    <button mat-button color="accent">Instagram</button>
                </div>
            </div>
            <div class="actions-container">
                <div class="action-item">
                    <button mat-button routerLink="/login" color="accent">
                        <mat-icon color="accent" matSuffix>person</mat-icon>Sales Portal</button>
                </div>

                <div class="action-item">
                    <button mat-button color="accent">
                        <mat-icon color="accent" matSuffix>location_on</mat-icon>Location</button>
                </div>

            </div>
        </div>
    </div>
</div>