.footer-container {
    background-color: #333333;
    padding: 20px 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-content {
    padding-left: 5rem;
    padding-right: 5rem;
    color: #fff;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

.logo-container {
    display: flex;
    align-items: center;
}

.header-items-container {
    display: flex;
    align-items: center;
}

.socaials-container {
    display: flex;
    align-items: center;
}

.actions-container {
    display: flex;
    align-items: center;
}