$primary-palette: (
    50: #F7F7F7,
    100: #EEEEEE,
    200: #E3E3E3,
    300: #D1D1D1,
    400: #ACACAC,
    500: #8B8B8B,
    600: #646464,
    700: #515151,
    800: #333333,
    900: #131313,
    contrast: (50: rgba(black, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: rgba(black, 0.87),
        400: rgba(black, 0.87),
        500: rgba(black, 0.87),
        600: white,
        700: white,
        800: white,
        900: white,
    )
);

$secondary-palette: (
    50: #ffffff,
    100: #fafafa,
    200: #f5f5f5,
    300: #f0f0f0,
    400: #dedede,
    500: #c2c2c2,
    600: #979797,
    700: #818181,
    800: #606060,
    900: #3c3c3c,
    contrast: (50: rgba(black, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: rgba(black, 0.87),
        400: rgba(black, 0.87),
        500: rgba(black, 0.87),
        600: rgba(black, 0.87),
        700: white,
        800: white,
        900: white,
    )
);


$warning-palette: (
    50: #ffebf0,
    100: #ffcdd7,
    200: #fb98a1,
    300: #f76d7c,
    400: #ff425b,
    500: #ff1d40,
    600: #fe0b40,
    700: #eb0039,
    800: #df0031,
    900: #d10023,
    contrast: (50: rgba(black, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: rgba(black, 0.87),
        400: white,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
    )
);

$sixty-red: (
    50: #fde8e7,
    100: #ffcabb,
    200: #ffa790,
    300: #ff8263,
    400: #ff6341,
    500: #ff4220,
    600: #ff3b1c,
    700: #F43516,
    800: #e62b11,
    900: #ce1604,
    contrast: (50: rgba(black, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: rgba(black, 0.87),
        400: white,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
    )
);


$sixty-blue: (
    50: #ffebf0,
    100: #ffcdd7,
    200: #fb98a1,
    300: #f76d7c,
    400: #ff425b,
    500: #ff1d40,
    600: #fe0b40,
    700: #eb0039,
    800: #df0031,
    900: #d10023,
    contrast: (50: rgba(black, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: rgba(black, 0.87),
        400: white,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
    )
);

$sixty-yellow: (
    50: #ffebf0,
    100: #ffcdd7,
    200: #fb98a1,
    300: #f76d7c,
    400: #ff425b,
    500: #ff1d40,
    600: #fe0b40,
    700: #eb0039,
    800: #df0031,
    900: #d10023,
    contrast: (50: rgba(black, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: rgba(black, 0.87),
        400: white,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
    )
);