$primary-palette: (
    50: #e7e9ff,
    100: #c2c8fe,
    200: #96a4fe,
    300: #6280ff,
    400: #2962FF,
    500: #0044fc,
    600: #003bf0,
    700: #002fe3,
    800: #0022d9,
    900: #0001c0,
    contrast: (50: rgba(black, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: rgba(black, 0.87),
        400: white,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
    )
);

$secondary-palette: (
    50: #ffffff,
    100: #fafafa,
    200: #f5f5f5,
    300: #f0f0f0,
    400: #dedede,
    500: #c2c2c2,
    600: #979797,
    700: #818181,
    800: #606060,
    900: #3c3c3c,
    contrast: (50: rgba(black, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: rgba(black, 0.87),
        400: rgba(black, 0.87),
        500: rgba(black, 0.87),
        600: rgba(black, 0.87),
        700: white,
        800: white,
        900: white,
    )
);


$warning-palette: (
    50: #ffebf0,
    100: #ffcdd7,
    200: #fb98a1,
    300: #f76d7c,
    400: #ff425b,
    500: #ff1d40,
    600: #fe0b40,
    700: #eb0039,
    800: #df0031,
    900: #d10023,
    contrast: (50: rgba(black, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: rgba(black, 0.87),
        400: white,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
    )
);