table {
    width: 100%;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
}

.search-bar {
    width: 75%;
    min-width: 250px;
    border-radius: 24px;


}

.search-bar-wrapper {
    display: flex;
    // justify-content: center;
    padding-top: 10px;
    padding-left: 1rem;
    align-items: center;

}

.table {
    padding: 1rem;
}

.mat-column-details {
    text-align: right;
}

.mat-column-client {
    text-align: center;
}